:root {
  --color-white: rgb(255, 255, 255);
  --color-gray: rgba(232, 232, 232, 1);
  --color-black_200: rgba(146, 146, 146, 1);
  --color-bg-search: rgba(234, 236, 238, 0.24);
  --color-black_500: rgba(18, 18, 18, 1);
  --color-logo: rgba(48, 67, 82, 1);
  --color-red: red;

  --border-r20: 2rem;
  --border-r10: 1rem;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: unset;
  outline: unset;
  cursor: pointer;
}
button {
  background-color: unset;
  cursor: pointer;
  outline: unset;
}
input {
  outline: unset;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
  height: 100%;
  width: 100%;
}

span {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

a {
  text-decoration: none;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

input[type="search"]::-ms-clear {
  display: none;
}

.page {
  flex: 1 1 auto;
}

body {
  padding-top: 15rem;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-logo);

  /* 1920 */
  /* font-size: 0.5208335vw; */

  /* 1440 */
  font-size: 0.6944444vw;

  /* @media (max-width: 768px) {
    font-size: 1.5625vw;
    font-size: calc((100 / 375) * 10vw);
  } */

  @media (max-width: 375px) {
    font-size: 2.7vw;
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  padding: 6rem 7rem 3rem;
  position: relative;

  @media (max-width: 375px) {
    padding: 2.5rem 2rem 7rem;
  }
}
.header {
  padding: 3.2rem 7rem 0;
  position: relative;

  @media (max-width: 375px) {
    padding: 2.5rem 2rem 4rem;
  }
}
.footer {
  padding: 5rem 7rem;
  position: relative;

  @media (max-width: 375px) {
    padding: 1.6rem 2rem;
  }
}

/* настрйоки проекта */

.h1 {
  @media (max-width: 375px) {
    font-family: AA Bebas Neue;
    font-weight: 400;
    font-style: Regular;
    font-size: 3.6rem;
    leading-trim: NONE;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    vertical-align: middle;
  }
}

.h2 {
  font-family: AA Bebas Neue;
  font-weight: 400;
  font-style: Regular;
  font-size: 5.5rem;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 2%;
  vertical-align: middle;

  @media (max-width: 375px) {
    font-size: 3.2rem;
  }
}

.link-primary {
  border-radius: var(--border-r10);
  border: 0.1rem solid var(--color-logo);
  padding: 0.5rem 1.3rem;

  display: flex;
  align-items: center;
  gap: 1rem;

  font-weight: 400;
  font-style: Book;
  font-size: 1.6rem;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;

  color: var(--color-logo);
  transition: all 0.3s ease;

  @media (max-width: 375px) {
    font-size: 1.3rem;
    gap: 0.8rem;
  }

  &:hover {
    color: var(--color-white);
    background-color: var(--color-logo);

    path {
      stroke: var(--color-white);
    }
  }

  &:active {
    color: var(--color-logo);
    background-color: var(--color-white);

    path {
      stroke: var(--color-logo);
    }
  }

  .link-arrow {
    display: flex;
    align-items: center;
    justify-content: center;

    path {
      transition: all 0.3s ease;
    }
  }
}
