header {
  position: fixed;
  z-index: 10;
  background-color: var(--color-white);
  top: 0;
  left: 0;

  .container-header {
    display: flex;
    align-items: center;
    gap: 4rem;
  }
  .header-logo {
    width: 16rem;
    height: 5.2rem;
  }
  .header-nav {
  }
  .header-nav__list {
    display: flex;
    gap: 3rem;
  }
  .header-list__item {
    font-family: Arial;
    font-weight: 400;
    font-style: Regular;
    font-size: 2rem;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;

    a {
      color: var(--color-logo);
      transition: all 0.3s ease;

      &:hover {
        color: var(--color-red);
      }

      &:active {
        color: var(--color-logo);
      }
    }
  }
  .search {
    width: 34rem;
    padding: 2rem 2.4rem;
    border-radius: var(--border-r20);
    background-color: var(--color-bg-search);

    font-family: Arial;
    font-weight: 400;
    font-style: Regular;
    font-size: 2rem;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;

    color: var(--color-logo);

    &::placeholder {
      color: var(--color-black_200);

      font-family: Arial;
      font-weight: 400;
      font-style: Regular;
      font-size: 1.8rem;
      leading-trim: NONE;
      line-height: 100%;
      letter-spacing: 0%;
    }
  }
  .header__social-icon {
    display: flex;
    gap: 3rem;
  }
  .social-icon {
  }
}
